body {
    background-color: #fcfcfc;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 50px;
}

.btn-white {
    background-color: #ffffff !important;
}

.btn-red {
    background-color: #bcbcbc !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
    border-color: #444 !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) label, md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: #444 !important;
}

md-input-container {
    margin: 5px;
}

.modal-header {
    background-color: #333;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.modal-title {
    line-height: 3em;
}

.div-body {
    background-color: #FFFFFF;
}

.bm-icon-table {
    min-height: 0px !important;
    height: 30px !important;
    padding: 5px !important;
}

.bm-selected {
    background-color: #F6DE36 !important;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    background-color: #F6DE36;
}

a.md-button.md-default-theme.md-raised[disabled], a.md-button.md-raised[disabled], a.md-button.md-default-theme.md-fab[disabled], a.md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}